@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/manrope");

@import "tailwindcss";
@plugin "daisyui";

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* ask chatgpt */
}

h1, h2{
  font-family: "Bebas Neue", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: white;
}
